
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2><span class="label">Всего в базе @ViewBag.number изображений</span></h2>
    </div>
    <hr />
</div>
