<div class="container">
    <div class="row">
        <h2><span class="label label-success">Изменения внесены успешно</span></h2>
    </div>
    <hr />
    <div class="row">
        <a class="btn btn-default" data-dismiss="modal" onclick="location.reload()">Назад</a>
    </div>
</div>